body {
    overflow-x: hidden; /* 隱藏水平滾動 */
}

.header {
    min-height: 90px;
    background-color: white;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.16);
    position: sticky;
    top:0;
    z-index: 1000;
    margin-bottom: 0;
}

.nav-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo-nav{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px; 
    margin: 20px;
    padding: 0;
}

.nav-menu li{
    display: inline-block;
}

.nav-menu a {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:#505563;
}

li .btn-resv{
    background-color: #da3743;
    border-radius: 30px;
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 5px 30px 5px 60px;
    background-image: url("./images/ot-logo-white.png");
    background-size: 25px;
    background-position: 25px center;
    background-repeat: no-repeat;
  
}

/* section1 */
.hero {
    position: relative;
    padding: 100px 0 80px;
    min-height: 600px;
    overflow: hidden; 
}
.hero-container{
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.hero-left {
    text-align: left;
    margin: 0px 30px 40px 80px;
    padding: 0 15px;
   
}

.hero-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 1350px;

}

.hero-right img {
    position:absolute;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 1;
  
}

.hero-topic{
    width: 50%;
    font-size: 40px;
    color: black;
    font-weight: 700;
    font-family: "Noto Sans TC", sans-serif;
    margin: 16px 0;
}

.hero-topic span {
    color: #ff6337;
}

.hero-subtitle {
    font-size: 18px;
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

.hero-left p {
    font-size: 16px;
    color: #3c3d40;
    font-weight: 350;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin-bottom: 60px;
    line-height: 2;
}

.btn-primary {
    display: inline-block;
    background-color: #064c8c;
    color: white;
    padding: 12px 25px;
    border-radius: 7px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
}


/* section2 */

.sec2 {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    text-align: center;
    max-width: 1350px;
    min-height: 700px;
    position: relative;
    overflow: hidden;
}

.sec2-container img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
    transform: scale(1.2);
    margin-bottom: -20px;
}

.sec2-text {
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 120px;
    left: 420px;
    font-size: 18px;
    line-height: 2;
    color: #494848;
    font-family: Arial, Helvetica, sans-serif;
}

/* section3 */

.middle-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.middle1{
    text-align: center;
    color: #ec6300;
    font-size: 20pt;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: "Noto Sans TC", sans-serif;
}
.middle2{
   text-align: center;
   color: #252932;
   font-weight: 600;
   font-size: 24pt;
   font-family: "Noto Sans TC", sans-serif;
   margin-bottom: 60px;
   position: relative;
   z-index: 4;
}

/* section4 */

.sec4 {
    margin: 0 auto;
    position: relative;
    max-width: 1350px;
 
}

.sec-background{
    position: absolute;
    top: -120px;
    left: -130px;
    width: 130%;
    height: 130%;
    z-index: 1;
    object-fit: cover;
    overflow: hidden;
}


.sec-container{
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
}

.sec-left {
    width: 45%;
    margin: 100px 0px 30px 40px ;
    padding: 20px;
}

.sec-right {
    width: 45%;
    margin: 30px;
}

.ipad {
    object-fit: contain;

}
.feat-container{
    display: flex;
    flex-wrap: wrap;
    
}
.feat-title {
    font-size:24px;
    color:#064c8c;
    display: block;
    font-weight: 500;
    margin: 20px 30px 60px 30px ;
    letter-spacing: 1px;
    padding-left: 30px;
}

.feat-card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 60px;
}

.icon-wrap {
    width:44px;
    height:44px;
}
.icon-wrap img {
    width: 100%;
    height: 100%;

}

.feat-content{
    flex:1;
}

h3 {
    font-size: 19px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px 0px;
    color: #252932;
}

.feat-content p{
    font-size: 16px;
    font-weight: 320;
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: #252932;
    font-family: Arial, Helvetica, sans-serif;
}

/* section5 */


.sec5{
    margin: 0 auto;
    position: relative;
}
.sec-background2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
}

.waiting{
    object-fit: cover;
}

.sec5-left {
    width: 45%;
    margin: 30px 0px 30px 50px;
   
}

.sec5-right {
    width: 45%;
    margin: 220px 40px 30px 0px ;
    padding: 20px;
}

/* section7 */

.sec7-title{
   display: block;
   text-align: center;
   color: #252932;
   font-weight: 400;
   font-size: 24pt;
   font-family: "Noto Sans TC", sans-serif;
   margin: 60px;
   position: relative;
   z-index: 4;
}

