.header {
    min-height: 90px;
    background-color: white;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.16);
    position: sticky;
    top:0;
    z-index: 1000;
    margin-bottom: 0;
}

.nav-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo-nav{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px; 
    margin: 20px;
    padding: 0;
}

.nav-menu li{
    display: inline-block;
}

.nav-menu a {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:#505563;
}

li .btn-resv{
    background-color: #da3743;
    border-radius: 30px;
    color: aliceblue;
    font-weight: 700;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 5px 30px 5px 60px;
    background-image: url("./images/ot-logo-white.png");
    background-size: 25px;
    background-position: 25px center;
    background-repeat: no-repeat;
  
}

/* section1 */
.hero {
    position: relative;
    padding: 100px 0 80px;
    min-height: 600px;
    overflow: hidden; 
}
.hero-container{
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    z-index: 2;
}

.hero-left {
    text-align: left;
    margin: 0px 30px 40px 80px;
    padding: 0 15px;
   
}

.hero-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 1350px;

}

.hero-right img {
    position:absolute;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 1;
  
}

.hero-topic{
    width: 50%;
    font-size: 40px;
    color: black;
    font-weight: 700;
    font-family: "Noto Sans TC", sans-serif;
    margin: 16px 0;
}

.hero-topic span {
    color: #ff6337;
}

.hero-subtitle {
    font-size: 18px;
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

.hero-left p {
    font-size: 16px;
    color: #3c3d40;
    font-weight: 350;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin-bottom: 60px;
    line-height: 2;
}

.btn-primary {
    display: inline-block;
    background-color: #064c8c;
    color: white;
    padding: 12px 25px;
    border-radius: 7px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
}


/* section2 */

.sec2 {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.sec2-container img{
    max-width: 1500px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-position: -120px;
}

.sec2-text {
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 120px;
    left: 380px;
    font-size: 18px;
    line-height: 2;
    color: #494848;
    font-family: Arial, Helvetica, sans-serif;
}

/* section3 */

.middle-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.middle1{
    text-align: center;
    color: #ec6300;
    font-size: 20pt;
    margin-bottom: 40px;
}
.middle2{
   text-align: center;
}


.sec4-container{
    max-width: 1500px;

}

.left {
    width: 50%;
}